USE [master]
GO
/****** Object:  Database [QuanLyCuaHangTienLoi]    Script Date: 11/15/2021 12:43:39 AM ******/
CREATE DATABASE [QuanLyCuaHangTienLoi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCuaHangTienLoi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyCuaHangTienLoi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCuaHangTienLoi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyCuaHangTienLoi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCuaHangTienLoi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCuaHangTienLoi]
GO
/****** Object:  User [staff]    Script Date: 11/15/2021 12:43:40 AM ******/
CREATE USER [staff] FOR LOGIN [QLCHTLNormal] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [minhle]    Script Date: 11/15/2021 12:43:40 AM ******/
CREATE USER [minhle] FOR LOGIN [minhle] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [manager]    Script Date: 11/15/2021 12:43:40 AM ******/
CREATE USER [manager] FOR LOGIN [QLCHTLAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHD]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Hàm tạo mã hóa đơn tự động--
CREATE FUNCTION [dbo].[AUTO_IDHD]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MaHD) FROM HOADON) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MaHD, 3)) FROM HOADON
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HD00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HD0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHDN]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Hàm tạo mã hóa đơn nhận hàng tự động--
CREATE FUNCTION [dbo].[AUTO_IDHDN]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MaHDN) FROM HOADONNHANHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MaHDN, 3)) FROM HOADONNHANHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HDN00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HDN0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKH]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Hàm tạo mã khách hàng tự động----

CREATE FUNCTION [dbo].[AUTO_IDKH]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MaKH) FROM KHACHHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MaKH, 3)) FROM KHACHHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'KH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaHD] [varchar](5) NOT NULL,
	[MaMH] [nchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaTriMH] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaChucVu] [nchar](10) NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
	[Luong] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [varchar](5) NOT NULL,
	[NgayLHD] [date] NULL,
	[MaKH] [varchar](5) NULL,
	[MaNV] [nchar](10) NULL,
	[GiaTri] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHANHANG]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHANHANG](
	[MaHDN] [varchar](6) NOT NULL,
	[MaNCC] [nchar](10) NOT NULL,
	[MaMH] [nchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[NgayGiao] [date] NULL,
	[GiaTri] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC,
	[MaNCC] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](5) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[GioiTinh] [nchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[Email] [nchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MaMH] [nchar](10) NOT NULL,
	[TrangThai] [nchar](10) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MaMH] [nchar](10) NOT NULL,
	[TenMH] [nvarchar](50) NULL,
	[Gia] [float] NULL,
	[GiaGoc] [float] NULL,
	[NgaySX] [date] NULL,
	[HanSD] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [nchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[STK] [nchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [nchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Users] [nchar](10) NULL,
	[Pass] [nchar](10) NULL,
	[SDT] [nchar](10) NULL,
	[MaChucVu] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaMH], [SoLuong], [GiaTriMH]) VALUES (N'HD001', N'MH01      ', 10, 35000)
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaMH], [SoLuong], [GiaTriMH]) VALUES (N'HD002', N'MH02      ', 6, 21000)
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaMH], [SoLuong], [GiaTriMH]) VALUES (N'HD002', N'MH05      ', 5, 50000)
GO
INSERT [dbo].[CHUCVU] ([MaChucVu], [TenChucVu], [Luong]) VALUES (N'MNG       ', N'Quản lý cửa hàng', 9000000)
INSERT [dbo].[CHUCVU] ([MaChucVu], [TenChucVu], [Luong]) VALUES (N'ST        ', N'Nhân viên bán hàng', 5500000)
GO
INSERT [dbo].[HOADON] ([MaHD], [NgayLHD], [MaKH], [MaNV], [GiaTri]) VALUES (N'HD001', CAST(N'2021-01-01' AS Date), N'KH001', N'NV01      ', 35000)
INSERT [dbo].[HOADON] ([MaHD], [NgayLHD], [MaKH], [MaNV], [GiaTri]) VALUES (N'HD002', CAST(N'2021-10-01' AS Date), N'KH002', N'NV02      ', 71000)
INSERT [dbo].[HOADON] ([MaHD], [NgayLHD], [MaKH], [MaNV], [GiaTri]) VALUES (N'HD003', CAST(N'2021-11-01' AS Date), N'KH003', N'NV03      ', 85000)
GO
INSERT [dbo].[HOADONNHANHANG] ([MaHDN], [MaNCC], [MaMH], [SoLuong], [NgayGiao], [GiaTri]) VALUES (N'HDN001', N'NCC01     ', N'MH01      ', 500, CAST(N'2021-10-01' AS Date), 1500000)
INSERT [dbo].[HOADONNHANHANG] ([MaHDN], [MaNCC], [MaMH], [SoLuong], [NgayGiao], [GiaTri]) VALUES (N'HDN002', N'NCC02     ', N'MH02      ', 300, CAST(N'2021-11-01' AS Date), 870000)
INSERT [dbo].[HOADONNHANHANG] ([MaHDN], [MaNCC], [MaMH], [SoLuong], [NgayGiao], [GiaTri]) VALUES (N'HDN003', N'NCC03     ', N'MH03      ', 100, CAST(N'2021-09-20' AS Date), 250000)
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email]) VALUES (N'KH001', N'Lê Văn A', N'Nam       ', CAST(N'1999-01-01' AS Date), N'HCM', N'033855445 ', N'lva@gmail.com                 ')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email]) VALUES (N'KH002', N'Lê Văn B', N'Nam       ', CAST(N'1997-05-01' AS Date), N'HCM', N'033554445 ', N'lvb@gmail.com                 ')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email]) VALUES (N'KH003', N'Nguyễn Thị B', N'Nữ        ', CAST(N'2000-01-01' AS Date), N'HCM', N'005480949 ', N'ntb@gmail.com                 ')
GO
INSERT [dbo].[KHOHANG] ([MaMH], [TrangThai], [SoLuong]) VALUES (N'MH01      ', N'Còn       ', 490)
INSERT [dbo].[KHOHANG] ([MaMH], [TrangThai], [SoLuong]) VALUES (N'MH02      ', N'Còn       ', 294)
INSERT [dbo].[KHOHANG] ([MaMH], [TrangThai], [SoLuong]) VALUES (N'MH03      ', N'Còn       ', 95)
GO
INSERT [dbo].[MATHANG] ([MaMH], [TenMH], [Gia], [GiaGoc], [NgaySX], [HanSD]) VALUES (N'MH01      ', N'Mì Hảo Hảo chua cay', 3500, 3000, CAST(N'2021-02-06' AS Date), N'2023/12/12')
INSERT [dbo].[MATHANG] ([MaMH], [TenMH], [Gia], [GiaGoc], [NgaySX], [HanSD]) VALUES (N'MH02      ', N'Mì Ba Miền', 3500, 2900, CAST(N'2020-06-06' AS Date), N'2022/12/12')
INSERT [dbo].[MATHANG] ([MaMH], [TenMH], [Gia], [GiaGoc], [NgaySX], [HanSD]) VALUES (N'MH03      ', N'Bánh Mì', 5000, 2500, CAST(N'2021-10-06' AS Date), N'2021/10/21')
GO
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [SDT], [STK]) VALUES (N'NCC01     ', N'Nhà CC A', N'Q Tân Phú, HCM', N'0351094542', N'012451821501   ')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [SDT], [STK]) VALUES (N'NCC02     ', N'Nhà CC B', N'Q Thủ Đức, HCM', N'0808401684', N'054901684541   ')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [SDT], [STK]) VALUES (N'NCC03     ', N'Nhà CC C', N'Q 9, HCM', N'0975181245', N'016181548484   ')
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [Users], [Pass], [SDT], [MaChucVu]) VALUES (N'NV01      ', N'Nguyễn Như', N'Nữ        ', CAST(N'2000-04-13' AS Date), N'75 Trương Văn Thành, Q9, HCM', N'nguyennhu ', N'12345     ', N'0927345678', N'ST        ')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [Users], [Pass], [SDT], [MaChucVu]) VALUES (N'NV02      ', N'Lê Văn Minh', N'Nam       ', CAST(N'1997-05-24' AS Date), N'Phường Long Thạnh Mỹ, Q9, HCM', N'minhle    ', N'12345     ', N'0338574442', N'MNG       ')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [Users], [Pass], [SDT], [MaChucVu]) VALUES (N'NV03      ', N'Ngô Thành Tuấn', N'Nam       ', CAST(N'1999-06-10' AS Date), N'731 Trần Hưng Đạo, Q5, HCM', N'tuanngo   ', N'12345     ', N'0913758498', N'ST        ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HOADONNH__3C90E8C7A6EE4858]    Script Date: 11/15/2021 12:43:41 AM ******/
ALTER TABLE [dbo].[HOADONNHANHANG] ADD UNIQUE NONCLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__A9D10534B0ECF415]    Script Date: 11/15/2021 12:43:41 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__CA1930A5B6EEE37A]    Script Date: 11/15/2021 12:43:41 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHACUNGC__CA1930A51E2D975F]    Script Date: 11/15/2021 12:43:41 AM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHACUNGC__CA1EB69AC54B9713]    Script Date: 11/15/2021 12:43:41 AM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD UNIQUE NONCLUSTERED 
(
	[STK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__64B85EBE52AAC509]    Script Date: 11/15/2021 12:43:41 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[Users] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__CA1930A5FB439E29]    Script Date: 11/15/2021 12:43:41 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((0)) FOR [GiaTriMH]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [IDHD]  DEFAULT ([dbo].[AUTO_IDHD]()) FOR [MaHD]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [GiaTri]
GO
ALTER TABLE [dbo].[HOADONNHANHANG] ADD  CONSTRAINT [IDHDN]  DEFAULT ([dbo].[AUTO_IDHDN]()) FOR [MaHDN]
GO
ALTER TABLE [dbo].[HOADONNHANHANG] ADD  DEFAULT ((0)) FOR [GiaTri]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [IDKH]  DEFAULT ([dbo].[AUTO_IDKH]()) FOR [MaKH]
GO
ALTER TABLE [dbo].[KHOHANG] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [fk_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_MatHang] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MATHANG] ([MaMH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [fk_CTHD_MatHang]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HOADONNHANHANG]  WITH CHECK ADD  CONSTRAINT [fk_HoaDonNhan_Kho] FOREIGN KEY([MaMH])
REFERENCES [dbo].[KHOHANG] ([MaMH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADONNHANHANG] CHECK CONSTRAINT [fk_HoaDonNhan_Kho]
GO
ALTER TABLE [dbo].[HOADONNHANHANG]  WITH CHECK ADD  CONSTRAINT [fk_HoaDonNhan_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADONNHANHANG] CHECK CONSTRAINT [fk_HoaDonNhan_NCC]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [fk_MatHang_Kho] FOREIGN KEY([MaMH])
REFERENCES [dbo].[KHOHANG] ([MaMH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [fk_MatHang_Kho]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NV_CV] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[CHUCVU] ([MaChucVu])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NV_CV]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [CheckSLMua] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [CheckSLMua]
GO
ALTER TABLE [dbo].[CHUCVU]  WITH CHECK ADD  CONSTRAINT [CheckLuong] CHECK  (([Luong]>(5000000)))
GO
ALTER TABLE [dbo].[CHUCVU] CHECK CONSTRAINT [CheckLuong]
GO
ALTER TABLE [dbo].[HOADONNHANHANG]  WITH CHECK ADD  CONSTRAINT [CheckSL] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[HOADONNHANHANG] CHECK CONSTRAINT [CheckSL]
GO
ALTER TABLE [dbo].[KHOHANG]  WITH CHECK ADD  CONSTRAINT [CheckSoLuong] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[KHOHANG] CHECK CONSTRAINT [CheckSoLuong]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [CheckDate] CHECK  (([NgaySX]<[HanSD]))
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [CheckDate]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [CheckGia] CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [CheckGia]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [CheckGiaGoc] CHECK  (([GiaGoc]>=(0)))
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [CheckGiaGoc]
GO
/****** Object:  StoredProcedure [dbo].[Add_ChiTietHoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm chi tiết hóa đơn--
create proc [dbo].[Add_ChiTietHoaDon]
	@MaHD nchar(5),
	@MaMH nchar(10),
	@SoLuong int
as
	Insert into CHITIETHOADON (MaHD,MaMH,SoLuong)
	values(@MaHD,@MaMH,@SoLuong)
GO
/****** Object:  StoredProcedure [dbo].[Add_ChucVu]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm chức vụ.--
create proc [dbo].[Add_ChucVu]
	@MaChucVu nchar(10),
	@TenChucVu nvarchar(50),
	@Luong float
as
	insert into CHUCVU values(@MaChucVu,@TenChucVu,@Luong)
GO
/****** Object:  StoredProcedure [dbo].[Add_HoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Thêm hóa đơn
create proc [dbo].[Add_HoaDon]
	@NgayLHD date,
	@MaKH nchar(5),
	@MaNV nchar(10)
as
	insert into HOADON(NgayLHD,MaKH,MaNV) values(@NgayLHD,@MaKH,@MaNV)

GO
/****** Object:  StoredProcedure [dbo].[Add_HoaDonNhanHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm hàng nhà cung cấp.--
create  proc [dbo].[Add_HoaDonNhanHang]
	@MaNCC nchar(10),
	@MaMH nchar(10),
	@NgayGiao date,
	@SoLuong int
as
	insert into HOADONNHANHANG(MaNCC,MaMH,NgayGiao,SoLuong) values(@MaNCC,@MaMH,@NgayGiao,@SoLuong)
GO
/****** Object:  StoredProcedure [dbo].[Add_KhachHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--proceduce--


--Các thủ tục thêm database--

--Thêm khách hàng--
create proc [dbo].[Add_KhachHang]
	@TenKH nvarchar(50),
	@GioiTinh nchar(10),
	@NgaySinh date,
	@DiaChi nvarchar(50),
	@SDT nchar(10),
	@Email nchar(30)
as
	insert into KHACHHANG(TenKH,GioiTinh,NgaySinh,DiaChi,SDT,Email)
	values(@TenKH,@GioiTinh,@NgaySinh,@DiaChi,@SDT,@Email)

GO
/****** Object:  StoredProcedure [dbo].[Add_KhoHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm mã mặt hàng vào kho hàng.--
create proc [dbo].[Add_KhoHang]
	@MaMH nchar(10)
as
	insert into KHOHANG values(@MaMH,NULL,NULL)
GO
/****** Object:  StoredProcedure [dbo].[Add_KhoHang_All]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm mã mặt hàng vào kho hàng.--
create proc [dbo].[Add_KhoHang_All]
	@MaMH nchar(10),@SoLuong int
as
	insert into KHOHANG(MaMH,SoLuong) values(@MaMH,@SoLuong)
GO
/****** Object:  StoredProcedure [dbo].[Add_MatHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm mặt hàng.--
create proc [dbo].[Add_MatHang]
	@MaMH nchar(10),
	@TenMH nvarchar(50),
	@Gia float,
	@GiaGoc float,
	@NgaySX date,
	@HanSD nchar(10)
as
	insert into MATHANG 
	values(@MaMH,@TenMH,@Gia,@GiaGoc,@NgaySX,@HanSD)
GO
/****** Object:  StoredProcedure [dbo].[Add_NhaCungCap]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm nhà cung cấp.--
create proc [dbo].[Add_NhaCungCap]
	@MaNCC nchar(10),
	@TenNCC nvarchar(50),
	@DiaChi nvarchar(50),
	@SDT nchar(10),
	@STK nchar(15)
as
	insert into NHACUNGCAP 
	values(@MaNCC,@TenNCC,@DiaChi,@SDT,@STK)
GO
/****** Object:  StoredProcedure [dbo].[Add_NhanVien]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm nhân viên.--
create proc [dbo].[Add_NhanVien]
	@MaNV nchar(10),
	@TenNV nvarchar(50),
	@GioiTinh nchar(10),
	@NgaySinh date,
	@DiaChi nvarchar(50),
	@Users nchar(10),
	@Pass nchar(10),
	@SDT nchar(10),
	@MaChucVu nchar(10)
as
	Insert into NHANVIEN
	values(@MaNV,@TenNV,@GioiTinh,@NgaySinh,@DiaChi,@Users,@Pass,@SDT,@MaChucVu)
GO
/****** Object:  StoredProcedure [dbo].[Change_PassWord]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Đổi mật khẩu--
create proc [dbo].[Change_PassWord](@MaNV nchar(10),@Pass nvarchar(10))
as
begin 
	update NHANVIEN
	set Pass=@Pass
	where MaNV=@MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[Check_Customer]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kiểm tra xem khách hàng đã có số điện thoại hay email trùng chưa
create proc [dbo].[Check_Customer](@SDT nchar(10),@Email nvarchar(30))
as
begin 
	select *
	from KHACHHANG
	where SDT=@SDT or Email=@Email
end
GO
/****** Object:  StoredProcedure [dbo].[Check_MaNV]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kiểm tra xem mã nhân viên đã có chưa--
create proc [dbo].[Check_MaNV](@MaNV nchar(10))
as
begin 
	select *
	from NHANVIEN
	where MaNV=@MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[Check_MatHang_Category]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Hàm kiểm tra số lượng và trạng thái của sản phẩm trong kho--
create proc [dbo].[Check_MatHang_Category](@MaMH nchar(10))
as
begin 
	select TrangThai,SoLuong
	from KHOHANG
	where MaMH=@MaMH
end
GO
/****** Object:  StoredProcedure [dbo].[Check_NhaCC]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kiểm tra xem đã có số điện thoại hay số tài khoản nhà cung cấp--
create proc [dbo].[Check_NhaCC]
	(@SDT nchar(10),@STK nvarchar(15))
as
begin 
	select *
	from NHACUNGCAP
	where SDT=@SDT or STK=@STK
end
GO
/****** Object:  StoredProcedure [dbo].[Check_PassWord]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kiểm tra xem mật khẩu mới có khác mật khẩu cũ--
create proc [dbo].[Check_PassWord](@MaNV nchar(10),@Pass nvarchar(10))
as
begin 
	select *
	from NHANVIEN
	where MaNV=@MaNV and Pass=@Pass
end
GO
/****** Object:  StoredProcedure [dbo].[Check_UserName]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Kiểm tra--
--Kiểm tra khi thay đổi Username-- Do
/*
create function Check_UserName(@User nvarchar(10))
returns int
as
begin 
	if (@User=(select Users from NHANVIEN where Users=@User))
	begin
		return 1;
	end
	return 0;
end
go
*/
--Kiểm tra khi thay đổi Username--
create proc [dbo].[Check_UserName]
	@Users nchar(10)
as
begin
	select *
	from NHANVIEN
	where Users=@Users
end
GO
/****** Object:  StoredProcedure [dbo].[delete_all]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------
------------------------------------------------
create proc [dbo].[delete_all]
as
begin
	delete from NHANVIEN
	delete from KHACHHANG
	delete from KHOHANG
	delete  from HOADON
	delete  from CHITIETHOADON
	delete from HOADONNHANHANG
	delete  from NHACUNGCAP
	delete  from CHUCVU
	delete  from MATHANG
end
-----
GO
/****** Object:  StoredProcedure [dbo].[Delete_ChiTietHoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Các hàm xóa--
--Xóa chi tiết hóa đơn.--
create proc [dbo].[Delete_ChiTietHoaDon]
	@MaHD nchar(10),
	@MaMH nchar(10)
as
	delete from CHITIETHOADON where MaHD=@MaHD and MaMH=@MaMH;
GO
/****** Object:  StoredProcedure [dbo].[Delete_ChucVu]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa chức vụ.--
create proc [dbo].[Delete_ChucVu]
	@MaChucVu nchar(10)
as
	delete from CHUCVU where MaChucVu=@MaChucVu
GO
/****** Object:  StoredProcedure [dbo].[Delete_HoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa hóa đơn.--
create proc [dbo].[Delete_HoaDon]
	@MaHD nchar(10)
as
	delete from HOADON where MaHD=@MaHD
	delete from CHITIETHOADON where MaHD=@MaHD
GO
/****** Object:  StoredProcedure [dbo].[Delete_HoaDonNhan]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa hàng nhà cung cấp.--
create proc [dbo].[Delete_HoaDonNhan]
	@MaHDN nchar(6)
as
	delete from HOADONNHANHANG where MaHDN=@MaHDN
GO
/****** Object:  StoredProcedure [dbo].[Delete_KhachHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa khách hàng.--
create proc [dbo].[Delete_KhachHang]
	@MaKH nchar(5)
as
	delete from KHACHHANG where MaKH=@MaKH
GO
/****** Object:  StoredProcedure [dbo].[Delete_KhoHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa mặt hàng trong kho hàng.--
create proc [dbo].[Delete_KhoHang]
	@MaMH nchar(10)
as
	delete from KHOHANG where MaMH=@MaMH
GO
/****** Object:  StoredProcedure [dbo].[Delete_MatHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa mặt hàng.--
create proc [dbo].[Delete_MatHang]
	@MaMH nchar(10)
as
	delete from MATHANG where MaMH=@MaMH
GO
/****** Object:  StoredProcedure [dbo].[Delete_NhaCungCap]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa nhà cung cấp.--
create proc [dbo].[Delete_NhaCungCap]
	@MaNCC nchar(10)
as
	delete from NHACUNGCAP where MaNCC=@MaNCC
GO
/****** Object:  StoredProcedure [dbo].[Delete_NhanVien]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa nhân viên.--
create proc [dbo].[Delete_NhanVien]
	@MaNV nchar(10)
as
	delete from NHANVIEN where MaNV=@MaNV
GO
/****** Object:  StoredProcedure [dbo].[get_all]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[get_all]
as
begin
	select * from NHANVIEN
	select * from KHACHHANG
	select * from KHOHANG
	select *  from HOADON
	select *  from CHITIETHOADON
	select * from HOADONNHANHANG
	select *  from NHACUNGCAP
	select *  from CHUCVU
	select *  from MATHANG
end
GO
/****** Object:  StoredProcedure [dbo].[info_AllTenMH]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thông tin về tất cả các tên mặt hàng ứng với MaHD được nhận--
create proc [dbo].[info_AllTenMH]
	@MaHD nchar(5)
as
begin
	select *
	from CHITIETHOADON, MATHANG
	where CHITIETHOADON.MaMH=MATHANG.MaMH and CHITIETHOADON.MaHD=@MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[info_ChiTietHoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thông tin bảng chi tiet hóa đơn theo id--
create proc [dbo].[info_ChiTietHoaDon]
	@MaHD nchar(5)
as
begin
	select *
	from CHITIETHOADON
	where MaHD=@MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[info_ChiTietHoaDon_FindOne]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Thông tin chi tiết hóa đơn theo mã hóa đơn và mã sản phẩm--
create  proc [dbo].[info_ChiTietHoaDon_FindOne]
	@MaHD nchar(5),@MaMH nvarchar(10)
as
begin
	select *
	from CHITIETHOADON
	where MaHD=@MaHD and MaMH=@MaMH
end
GO
/****** Object:  StoredProcedure [dbo].[info_HoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thông tin bảng hóa đơn theo id--
create proc [dbo].[info_HoaDon]
	@MaHD nchar(5)
as
begin
	select *
	from HOADON
	where MaHD=@MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[info_HoaDon_KhachHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Thông tin hóa đơn và khách hàng ứng với mã hóa đơn--
create proc [dbo].[info_HoaDon_KhachHang]
	@MaHD nchar(5)
as
begin
	select
	MaHD,NgayLHD,HOADON.MaKH,MaNV,TenKH,GioiTinh,NgaySinh,DiaChi,SDT,Email 
	from HOADON,KHACHHANG
	where HOADON.MaKH=KHACHHANG.MaKH and HOADON.MaHD=@MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[info_HoaDon_MatHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thông tin về giá cả số lượng ứng với từng loại mặt hàng--
create proc [dbo].[info_HoaDon_MatHang]
	@MaHD nchar(5),
	@TenMH nvarchar(50)
as
begin
	select *
	from CHITIETHOADON,MATHANG
	where CHITIETHOADON.MaMH=MATHANG.MaMH and TenMH=@TenMH and CHITIETHOADON.MaHD=@MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[Load_Bill_Date]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy tất cả hóa đơn theo ngày--
create  proc [dbo].[Load_Bill_Date]
	@DateFront date,@DateBack date
as 
begin
	select *from HOADON
	where NgayLHD<=@DateBack and NgayLHD>=@DateFront
end 
GO
/****** Object:  StoredProcedure [dbo].[Load_ChiTietHoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Load dữ liệu từ các bảng--
--Load dữ liệu chi tiết hóa đơn.--
create proc [dbo].[Load_ChiTietHoaDon]
as
select * from CHITIETHOADON
GO
/****** Object:  StoredProcedure [dbo].[Load_ChucVu]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Load dữ liệu chức vụ.--
create proc [dbo].[Load_ChucVu]
as
select * from CHUCVU
GO
/****** Object:  StoredProcedure [dbo].[Load_HoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Load dữ liệu hóa đơn.--

create proc [dbo].[Load_HoaDon]
as
select * from HOADON
GO
/****** Object:  StoredProcedure [dbo].[Load_HoaDonNhan]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Load dữ liệu nhà cung cấp.--
create   proc [dbo].[Load_HoaDonNhan]
	@MaNCC varchar(10)
as
	select * from HOADONNHANHANG
	where MaNCC=@MaNCC;
GO
/****** Object:  StoredProcedure [dbo].[Load_Info_NhanVien]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Load thông tin toàn bộ của nhân viên--
create proc [dbo].[Load_Info_NhanVien]
as
begin
	select MaNV,TenNV ,GioiTinh ,NgaySinh,DiaChi,Users,Pass ,SDT ,NHANVIEN.MaChucVu,TenChucVu ,Luong 
	from NHANVIEN inner join CHUCVU on NHANVIEN.MaChucVu=CHUCVU.MaChucVu
end
GO
/****** Object:  StoredProcedure [dbo].[Load_KhachHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Load dữ liệu khách hàng.--
create proc [dbo].[Load_KhachHang]
as
select * from KHACHHANG
GO
/****** Object:  StoredProcedure [dbo].[Load_KhoHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Load dữ liệu kho hàng.--
create  proc [dbo].[Load_KhoHang]
as
select * from KHOHANG
GO
/****** Object:  StoredProcedure [dbo].[Load_MatHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Load dữ liệu mặt hàng.--
create  proc [dbo].[Load_MatHang]
as
select * from MATHANG
GO
/****** Object:  StoredProcedure [dbo].[Load_MatHang_ChuaHetHSD]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------Chưa hêt hạn--------
create  proc [dbo].[Load_MatHang_ChuaHetHSD]
	as 
begin
		select KHOHANG.MaMH,TrangThai,SoLuong 
	from KHOHANG
	join  MATHANG on MATHANG.MaMH=KHOHANG.MaMH
	where MATHANG.HanSD>=getdate()
end 
GO
/****** Object:  StoredProcedure [dbo].[Load_MatHang_HetHan]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy hàng hóa theo hạn sử dụng --
----------------Đã hêt hạn--------
create    proc [dbo].[Load_MatHang_HetHan]
	as 
begin
	select KHOHANG.MaMH,TrangThai,SoLuong 
	from KHOHANG
	join  MATHANG on MATHANG.MaMH=KHOHANG.MaMH
	where MATHANG.HanSD<getdate()
end 
GO
/****** Object:  StoredProcedure [dbo].[Load_MatHang_MaMH]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---Lấy  mặt hàng theo mã---
create   proc [dbo].[Load_MatHang_MaMH]
	@MaMH nchar(10)
as
begin
	select MaMH,TenMH,Gia,GiaGoc,NgaySX,HanSD from MATHANG where MaMH=@MaMH
end
GO
/****** Object:  StoredProcedure [dbo].[Load_NhaCungCap]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Load dữ liệu hàng nhà cung cấp.--
create proc [dbo].[Load_NhaCungCap]
as
	select * from NHACUNGCAP
GO
/****** Object:  StoredProcedure [dbo].[Load_NhaCungCap_MaNCC]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy nhà cung cấp theo mã nhà cung cấp--
create proc [dbo].[Load_NhaCungCap_MaNCC]
	@MaNCC nchar(10)
as
	select * from NHACUNGCAP where MaNCC=@MaNCC
GO
/****** Object:  StoredProcedure [dbo].[Load_NhanVien]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Load dữ liệu nhân viên.--
create proc [dbo].[Load_NhanVien]
as
select * from NHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[Load_ThongTinNV]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Load thông tin nhân viên--
create proc [dbo].[Load_ThongTinNV]
@MaNV nchar(10)
as
begin
	select MaNV, TenNV,GioiTinh,NgaySinh,DiaChi,Users,Pass,SDT,NHANVIEN.MaChucVu,TenChucVu,Luong 
	from NHANVIEN,CHUCVU
	where NHANVIEN.MaChucVu=CHUCVU.MaChucVu and MaNV=@MaNV 
end
GO
/****** Object:  StoredProcedure [dbo].[LoiNhuan_HoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Lấy ra lợi nhuận mỗi hóa đơn--
create proc [dbo].[LoiNhuan_HoaDon]
	@MaHD varchar(5)
as
begin
	select sum((Gia-GiaGoc)*SoLuong)as LoiNhuan
	from MATHANG 
	join CHITIETHOADON on CHITIETHOADON.MaMH=MATHANG.MaMH
	where MaHD=@MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[NhanVien_DangNhap]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm MaNV khi đăng nhập users thành công và kiểm tra đăng nhập--
create proc [dbo].[NhanVien_DangNhap]
	@UserName nchar(10),
	@PassWord nchar(10)
as
begin
	select MaNV
	from NHANVIEN
	where Users=@UserName and Pass=@PassWord;
end
GO
/****** Object:  StoredProcedure [dbo].[Search_KhachHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---Tìm kiếm--
--Tìm khách hàng--
create proc [dbo].[Search_KhachHang]
@Tim nvarchar(50)
as
	select * from KHACHHANG
	where MaKH like N'%'+@Tim +'%'
	or TenKH like N'%'+@Tim +'%'
	or GioiTinh like N'%'+@Tim +'%'
	or DiaChi like N'%'+@Tim +'%'
	or SDT like N'%'+@Tim +'%'
	or Email like N'%'+@Tim+'%'
	or NgaySinh like N'%'+@Tim +'%'
GO
/****** Object:  StoredProcedure [dbo].[Search_KhoHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm kiếm trong kho hàng--
create  proc [dbo].[Search_KhoHang]
	@Tim nvarchar(30)
as
begin
	select MaMH, TrangThai,SoLuong 
	from KHOHANG
	where MaMH like N'%'+@Tim +'%'
	or TrangThai like N'%'+@Tim +'%'
	or SoLuong like N'%'+@Tim +'%'
end
GO
/****** Object:  StoredProcedure [dbo].[Search_MatHang]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm kiếm mặt hàng--
create proc [dbo].[Search_MatHang]
	@Tim nvarchar(30)
as
select * from MATHANG
	where MaMH like N'%'+@Tim +'%'
	or TenMH like N'%'+@Tim +'%'
	or Gia like N'%'+@Tim +'%'
	or HanSD like N'%'+@Tim +'%'
GO
/****** Object:  StoredProcedure [dbo].[Search_MatHang_NCC]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm kiếm mặt hàng theo mã nhà cung cấp--
create proc [dbo].[Search_MatHang_NCC]
	@Tim nvarchar(30)
as
	select * from HOADONNHANHANG
	where MaNCC like N'%'+@Tim +'%'
GO
/****** Object:  StoredProcedure [dbo].[Search_NhaCungCap]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm kiếm nhà cung cấp.--
create proc [dbo].[Search_NhaCungCap]
	@Tim nvarchar(30)
as
	select * from NHACUNGCAP
	where MaNCC like N'%'+@Tim +'%'
	or TenNCC like N'%'+@Tim +'%'
	or DiaChi like N'%'+@Tim+'%'
	or SDT like N'%'+@Tim +'%'
	or STK like N'%'+@Tim +'%'
GO
/****** Object:  StoredProcedure [dbo].[Search_NhanVien]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm kiếm nhân viên.--
create proc [dbo].[Search_NhanVien]
	@TimKiem nvarchar(30)
as
	select MaNV from NHANVIEN
	where MaNV like N'%'+@TimKiem +'%'
	or TenNV like N'%'+@TimKiem +'%'
	or GioiTinh like N'%'+@TimKiem +'%'
	or DiaChi like N'%'+@TimKiem +'%'
	or SDT like N'%'+@TimKiem +'%'
	or MaChucVu like N'%'+@TimKiem +'%'
GO
/****** Object:  StoredProcedure [dbo].[Update_ChiTietHoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Các hàm sửa trong database--
--Cập nhật chi tiết hóa đơn--
create proc [dbo].[Update_ChiTietHoaDon]
	@MaHD nchar(5),
	@MaMH nchar(10),
	@SoLuong int
as
	update CHITIETHOADON 
	set SoLuong=@SoLuong 
	where MaHD=@MaHD and MaMH=@MaMH
GO
/****** Object:  StoredProcedure [dbo].[Update_ChucVu]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhật chức vụ--
create proc [dbo].[Update_ChucVu]
	@MaChucVu nchar(10),
	@TenChucVu nvarchar(50),
	@Luong float
as
	update CHUCVU 
	set TenChucVu=@TenChucVu,Luong=@Luong 
	where MaChucVu=@MaChucVu
GO
/****** Object:  StoredProcedure [dbo].[Update_HoaDon]    Script Date: 11/15/2021 12:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhật hóa đơn--
create  proc [dbo].[Update_HoaDon]
	@MaHD nchar(5),
	@NgayLHD date,
	@MaKH nchar(5),
	@MaNV nchar(10),
	@GiaTri float
as
	update HOADON 
	set NgayLHD=@NgayLHD,MaKH=@MaKH,MaNV=@MaNV ,GiaTri=@GiaTri
	where MaHD=@MaHD
GO
/****** Object:  StoredProcedure [dbo].[Update_HoaDonNhanHang]    Script Date: 11/15/2021 12:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhật hàng nhà cung cấp--
create proc [dbo].[Update_HoaDonNhanHang]
	@MaHDN nchar(6),
	@SoLuong int
as
	update HOADONNHANHANG
	SET SoLuong=@SoLuong
	where MaHDN=@MaHDN
GO
/****** Object:  StoredProcedure [dbo].[Update_KhachHang]    Script Date: 11/15/2021 12:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_KhachHang]
	@MaKH nchar(5),
	@TenKH nvarchar(50),
	@GioiTinh nchar(10),
	@NgaySinh date,
	@DiaChi nvarchar(50),
	@SDT nchar(10),
	@Email nchar(30)
as
	update KHACHHANG 
	set	TenKH=@TenKH,GioiTinh=@GioiTinh,NgaySinh=@NgaySinh,DiaChi=@DiaChi,SDT=@SDT, Email=@Email 
	where MaKH=@MaKH
GO
/****** Object:  StoredProcedure [dbo].[Update_MatHang]    Script Date: 11/15/2021 12:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhật mặt hàng--
create  proc [dbo].[Update_MatHang]
@MaMH nchar(10),
@TenMH nvarchar(50),
@Gia float,
@GiaGoc float,
@NgaySX date,
@HanSD nchar(10)
as
	update MATHANG 
	set	TenMH=@TenMH,Gia=@Gia,NgaySX=@NgaySX,HanSD=@HanSD,GiaGoc=@GiaGoc
	where MaMH=@MaMH
GO
/****** Object:  StoredProcedure [dbo].[Update_NhaCungCap]    Script Date: 11/15/2021 12:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhật nhà cung cấp--
create proc [dbo].[Update_NhaCungCap]
	@MaNCC nchar(10),
	@TenNCC nvarchar(50),
	@DiaChi nvarchar(50),
	@SDT nchar(10),
	@STK nchar(15)
as
	update NHACUNGCAP 
	set TenNCC=@TenNCC,DiaChi=@DiaChi,SDT=@SDT,STK=@STK 
	where MaNCC=@MaNCC
GO
/****** Object:  StoredProcedure [dbo].[Update_NhanVien_Admin]    Script Date: 11/15/2021 12:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhật nhân viên cho admin--
create	proc [dbo].[Update_NhanVien_Admin]
	@MaNV nchar(10),
	@TenNV nvarchar(50),
	@GioiTinh nchar(10),
	@NgaySinh date,
	@DiaChi nvarchar(50),
	@Users nchar(10),
	@Pass nchar(10),
	@SDT nchar(10),
	@MaChucVu nchar(10)
as
	update NHANVIEN 
	set TenNV=@TenNV,GioiTinh=@GioiTinh,NgaySinh=@NgaySinh,
	Users=@Users,Pass=@Pass,SDT=@SDT,MaChucVu=@MaChucVu,DiaChi=@DiaChi
	where MaNV=@MaNV
GO
/****** Object:  StoredProcedure [dbo].[Update_SoLuongMH]    Script Date: 11/15/2021 12:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhật số lượng trong bảng kho hàng--
create proc [dbo].[Update_SoLuongMH]
	@MaMH nchar(10),
	@SL int
as
	update KHOHANG 
	set SoLuong= @SL
	where MaMH=@MaMH
GO
/****** Object:  StoredProcedure [dbo].[Update_ThongTinNhanVien]    Script Date: 11/15/2021 12:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhật thông tin nhân viên--
create proc [dbo].[Update_ThongTinNhanVien]
	@MaNV nchar(10),
	@TenNV nvarchar(50),
	@GioiTinh nvarchar(50),
	@NgaySinh date,
	@DiaChi nvarchar(50),
	@SDT nchar(10)
as
begin
	update NHANVIEN 
	set
	TenNV=@TenNV,GioiTinh=@GioiTinh,NgaySinh=@NgaySinh,DiaChi=@DiaChi, SDT=@SDT
	where MaNV=@MaNV
end
GO
USE [master]
GO
